<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"
    />
  </head>
  <body>
    <header>
      <div class="headcont">
        <div class="logo">
          <img src="/Images/logo/1.svg" alt="Logo" />
        </div>
        <div class="button-container">
          <button>Nuova Chat</button>
        </div>
      </div>
    </header>
    <main>
      <div class="carousel">
        <% images.forEach(function(image) { %>
        <div class="mycard">
          <div
            class="shadow image"
            style="background-image: url('/Images/media/<%= image %>')"
          ></div>
          <div class="text-container">
            <form action="/chat" method="post">
              <input
                type="text"
                name="message"
                placeholder="Scrivi un messaggio"
              />
              <input type="submit" value="Invia" />
            </form>
          </div>
        </div>
        <% }); %>
      </div>
    </main>
    <!-- <script src="/javascripts/cardAnimator.js"></script> -->
    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"
    ></script>
    <script type="text/javascript" src="/javascripts/carousel.js"></script>
  </body>
</html>
