<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/login" method="POST">
      <input type="text" name="usr" />
      <input type="submit" value="Login"/>
    </form>
  </body>
</html>
