<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/form.css" />
    <link rel="stylesheet" href="/stylesheets/formRegister.css" />
  </head>
  <body>
    <div class="container">
      <div class="titolo">Registrati</div>
      <img
        src="Images/sfondoreg.jpg"
        alt="Immagine di registrazione"
        id="preview"
        src="#" />
      <form action="/register" method="POST">
        <input
          type="file"
          id="image-input"
          accept="image/*"
          onchange="previewImage(event)"
          class="immagine" />
        <button onclick="selectFile()" class="bottone" id="bottone">+</button>
        <script>
          var bottone = document.getElementById("bottone");
          bottone.addEventListener("click", function () {
            bottone.classList.add("hidden");
          });
        </script>
        <div class="page active" id="page1">
          <label for="nome">Username:</label>
          <input type="text" id="username" required />
          <button type="button" onclick="procedi(2)">Avanti</button>
        </div>

        <div class="page" id="page2">
          <label for="cognome">Nome:</label>
          <input type="text" id="nome" required />
          <button type="button" onclick="procedi(3)">Avanti</button>
        </div>

        <div class="page" id="page3">
          <label for="data-nascita">Cognome:</label>
          <input type="text" id="cognome" required />
          <button type="button" onclick="procedi(4)">Avanti</button>
        </div>

        <div class="page" id="page4">
          <label for="email">Email:</label>
          <input type="email" id="email" required />
          <button type="button" onclick="procedi(5)">Avanti</button>
        </div>

        <div class="page" id="page5">
          <label for="password">Password:</label>
          <input type="password" id="password" required />
          <button type="button" onclick="procedi(6)">Avanti</button>
        </div>

        <div class="page" id="page6">
          <label for="password">Conferma Password:</label>
          <input type="password" id="conferma-password" required />
          <button type="button" onclick="procedi(7)">Avanti</button>
        </div>

        <div class="page" id="page7">
          <label for="sesso">Sesso:</label>
          <select id="sesso" name="sesso" required>
            <option value="maschio">Maschio</option>
            <option value="femmina">Femmina</option>
            <option value="altro">Altro</option>
          </select>
          <button type="button" onclick="procedi(8)">Avanti</button>
        </div>

        <div class="page" id="page8">
          <label for="citta">Città:</label>
          <input type="text" id="citta" required />
          <button type="button" onclick="procedi(9)">Avanti</button>
        </div>

        <div class="page" id="page9">
          <label for="ddn">Data di nascita:</label>
          <input type="date" id="data-nascita" required />
          <input type="submit" value="Registrati" />
        </div>
      </form>
    </div>

    <script>
      let currentPage = 1;

      function procedi(page) {
        document
          .getElementById(`page${currentPage}`)
          .classList.remove("active");
        currentPage = page;
        document.getElementById(`page${currentPage}`).classList.add("active");
      }

      function selectFile() {
        document.getElementById("image-input").click();
      }

      document
        .getElementById("image-input")
        .addEventListener("change", function (e) {
          var file = e.target.files[0];
          var reader = new FileReader();

          reader.onload = function (e) {
            document.getElementById("preview").src = e.target.result;
          };

          reader.readAsDataURL(file);
        });
    </script>
  </body>
</html>
