body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  background-image: url("/Images/back.jpg");
}

img {
  max-width: 400px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  z-index: 1;
}

.titolo{
  font-size: 48px;
  font-weight: bold;
  color: #401244;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  letter-spacing: 2px;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
 }

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

h1 {
  text-align: center;
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"], input[type="email"], input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff2a6d;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.immagine {
  display:none;
}

.bottone {
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: #ff2a6d;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 50px;
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}