/* Set full width and height for the page */
html, body {
  width: 100%;
  height: 100%;
  background-color: #ffb1ee;
}

/* Header styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
}

/* Main content styles */
main {
  position: relative;
  height: 100vh;
}

.carousel {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.slick-slide div {
  /* background-color: white; */
  max-height: 90%;
  max-width: 300px;
  min-height: 600px;
  
  image-rendering: optimizeQuality;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.logo {
  /* Add styles for your webpage icon */
}

.icons {
    display: flex;
}

.user-icon {
    /* Add styles for the user menu icon */
}

.matching-icon {
    /* Add styles for the matching icon */
}