/* Set full width and height for the page */
html, body {
  width: 100%;
  height: 100%;
  background-color: #ffb1ee;
}

/* Header styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  height: 120px;
}

.headcont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: white;
  margin-right: 100px;
  margin-left: 100px;
  border-radius: 30px;
}

/* Main content styles */
main {
  position: relative;
  height: 100vh;
}

.carousel {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-40%);
}

.slick-slide div.image {
  max-height: 90%;
  max-width: 400px;
  min-height: 600px;
  image-rendering: optimizeQuality;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  border-radius: 10px;
}

.shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.text-container {
  position: relative;
  padding: 20px;
  text-align: left;
  color: white;
  /* max-height: 40px; */
}

.logo {
  position: relative;
  left: 40px;
  width: 120px;
  height: auto;
}

.button-container {
  margin-right: 50px;

}

.button-container button {
  background-color: #ff2a6d;
  color: white;
}

input[type="text"], button {
  display: inline;
  padding: 16px;
  border: none;
  max-width: 250px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: bold;
  color: #333;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.03);
  transition: all 0.2s ease-in-out;
}

input[type="submit"] {
  background-color: #ff2a6d;
  color: #fff;
  border: none;
  padding: 16px 24px;
  border-radius: 8px;
  cursor: pointer;
}